[Desktop Entry]
Version=1.0.0
Type=Application
Name=Amarelo Keys
GenericName=Acessibilidade para teclas defeituosas
Comment=Mapeie teclas defeituosas para atalhos personalizados
Exec=python3 /usr/share/amarelo-keys/main.py
Icon=amarelo-keys
Terminal=false
Categories=Utility;Accessibility;System;Settings;
Keywords=keyboard;keys;remap;accessibility;defective;
StartupNotify=true
