[Desktop Entry]
Type=Application
Name=Amarelo Keys
Comment=Configure keyboard remapping
Exec=amarelo-keys --gui
Icon=amarelo-keys
Terminal=false
Categories=Settings;Utility;Accessibility;
